#home {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home h1 {
  text-align: center;
}

.hero-text-container {
  margin-bottom: 40px;
  position: relative;
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.hero-text-container .center-vector {
  position: absolute;
  top: 100px;
  left: 70px;
  z-index: -1;
  width: 550px;
}

.hero-text-container h1 {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  margin-bottom: 24px;
}

.hero-subtext {
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  width: 773px;
  height: 64px;
  margin: 0 auto;
}

#home .left-container {
  height: 450px;
  position: absolute;
  left: 0;
}

.left-container .hand-img {
  position: absolute;
  top: 20px;
  left: 0;
  width: 260px;
  height: auto;
}

#home .right-container {
  height: 400px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.right-container .hand-img {
  position: absolute;
  bottom: -180px;
  right: 0px;
  width: 260px;
  height: auto;
  z-index: -1;
}

.floating-element {
  position: absolute;
  animation: float 4s ease-in-out infinite;
}

/* Floating animation */
@keyframes float {
  0% {
    transform: translateY(0) rotate(var(--rotate, 0deg));
  }
  50% {
    transform: translateY(-20px) rotate(var(--rotate, 0deg));
  }
  100% {
    transform: translateY(0) rotate(var(--rotate, 0deg));
  }
}

/* Floating elements with individual rotation and speed */
.hero-text-container .bulb-1 {
  width: 100px;
  top: 100px;
  left: -50px;
  --rotate: -15deg;
  animation-duration: 3s;
}

.hero-text-container .bulb-2 {
  width: 130px;
  top: 80px;
  right: -120px;
  --rotate: -8.62deg;
  animation-duration: 5s;
}

.hero-text-container .instagram {
  width: 70px;
  top: 250px;
  left: -200px;
  --rotate: -157.75deg;
  animation-duration: 4.5s;
}

.hero-text-container .facebook1 {
  width: 70px;
  top: 50px;
  right: -250px;
  --rotate: 21.85deg;
  animation-duration: 3.8s;
}

.hero-text-container .youtube {
  width: 40px;
  bottom: -100px;
  right: -100px;
  --rotate: 25.59deg;
  animation-duration: 4.2s;
}

.hero-text-container .facebook2 {
  width: 80px;
  bottom: -200px;
  left: -150px;
  --rotate: -21.85deg;
  animation-duration: 5.5s;
}

.verify-email-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tablet & Mobile */
@media (max-width: 1024px) {
  .hero-text-container {
    width: 80%;
    margin-top: 150px;
  }

  .hero-text-container h1 {
    font-size: 60px;
    line-height: 64px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .hero-text-container {
    width: 90%;
    margin-top: 100px;
  }

  .hero-text-container h1 {
    font-size: 40px;
    line-height: 48px;
  }

  .hero-subtext {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }
}
