#review {
  min-height: 100vh;
  width: 90%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

/* title container */
#review .title-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#review .title-container .row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 16px;
}

#review .title-container .row3 {
  margin: 48px 0px;
  font-size: 48px;
  font-weight: 700;
}

#review .title-container h1 {
  font-size: 56px;
  margin: 0;
}

#review .title-container .avatar {
  width: 64px;
  height: 64px;
  border-radius: 16px;
  object-fit: cover;
}

#review .review-vector1 {
  position: absolute;
  top: 0;
  right: 54%;
  transform: translateX(50%);
  z-index: -1;
  max-width: 550px;
}

/* review slider container */
#review .review-slide-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#review .review-slide-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

#review .review-slide-container .header h4 {
  font-size: 32px;
  font-weight: 700;
  flex: 1;
  min-width: 200px;
}

#review .review-slide-container .header .indicator-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

#review .right-arrow-btn,
#review .left-arrow-btn {
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

#review .right-arrow-btn {
  transform: rotate(180deg);
}

/* REVIEW SLIDES */
#review .review-slide {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 16px 0;
  scroll-snap-type: x mandatory;
}

#review .review-slide::-webkit-scrollbar {
  display: none;
}

#review .review-slide .card {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 500px;
  height: auto;
  background-color: var(--light-primary-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 56px;
  border-radius: 16px;
}

#review .review-slide .card2 {
  background-color: var(--primary-color);
  color: #fff;
}

#review .review-slide .card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 16px;
}

#review .review-slide .card h4 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 12px;
}

#review .review-slide .card p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
